includes:
    - %currentWorkingDirectory%/lib/composer/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    customRulesetUsed: false
    tmpDir: %currentWorkingDirectory%/app/tmp/phpstan

    excludes_analyse:
        - %currentWorkingDirectory%/app/tmp/*

