includes:
    - ../../phpstan/phpstan-nette/extension.neon
    - ../../phpstan/phpstan-nette/rules.neon
    - ../../phpstan/phpstan-dibi/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        -
            identifier:
                missingType.iterableValue
        -
            identifier:
                missingType.generics

rules:
    - Inspire\PHPStan\Rules\DisableUnaryNegationOperatorRule
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanNotRule
    - PHPStan\Rules\BooleansInConditions\BooleanInElseIfConditionRule
    - PHPStan\Rules\BooleansInConditions\BooleanInIfConditionRule
    - PHPStan\Rules\BooleansInConditions\BooleanInTernaryOperatorRule
    - PHPStan\Rules\Classes\RequireParentConstructCallRule
    - PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
    - PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
    - PHPStan\Rules\DisallowedConstructs\DisallowedShortTernaryRule
    - PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
    - PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
    - PHPStan\Rules\Properties\MissingPropertyTypehintRule
    - PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
    - PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
    - PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
    - PHPStan\Rules\VariableVariables\VariableStaticMethodCallRule
    - PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
    - PHPStan\Rules\VariableVariables\VariableVariablesRule

services:
    -
        type: PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule
        arguments:
            paramOut: false
    -
        type: PHPStan\Rules\BooleansInConditions\BooleanRuleHelper
    -
        type: PHPStan\Rules\BooleansInConditions\BooleanInBooleanOrRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
    -
        type: PHPStan\Rules\BooleansInConditions\BooleanInBooleanAndRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
    -
        type: PHPStan\Rules\Cast\UselessCastRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
        tags:
            - phpstan.rules.rule
    -
        type: PHPStan\Rules\Operators\OperatorRuleHelper
    -
        type: PHPStan\Rules\VariableVariables\VariablePropertyFetchRule
        arguments:
            universalObjectCratesClasses: %universalObjectCratesClasses%
        tags:
            - phpstan.rules.rule
    -
        type: PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
    -
        type: PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
    -
        type: PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
    -
        type: PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
    -
        type: PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
    -
        type: PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
        arguments:
            bleedingEdge: %featureToggles.bleedingEdge%
